Firaxis.AssetEditing/Firaxis.AssetEditing.FireFX.FireFXLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  targetNamespace="FireFX"
  xmlns="FireFX"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="FireFXLibraryType">
    <xs:sequence>
      <xs:element name="ClassName" type="xs:string"/>
      <xs:element name="ScriptText" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="FireFXLibrary" type="FireFXLibraryType"/>

</xs:schema>